/*----------------------------------------------------------------------------
508 / ACCESSIBILITY CSS
-----------------------------------------------------------------------------*/

/* Skip nav styles from Liam */
.skipnav {position: absolute; display: none; text-align: left; margin: 0; padding: 0;
    background-color:inherit; color:inherit;}
/*For all, including Opera.
Display:none used to switch off the skip links for Opera users
(it's redundant, Opera has excellent keyboard navigation)*/

* html .skipnav {display: block} /*Switch on for IE6 and below*/
*+html .skipnav {display: block} /*Switch on for IE7*/
:root .skipnav {display: block} /*Switch on for Moz, FF and Safari*/
.skipnav {background-color:#333; color:#fff;}
.skipnav p {margin: 5px 0 0 0; padding: 0; position: absolute; font-size: 2em}
.skipnav a {width: 26em; display:block; color: #fff; background: #333; text-decoration: none; padding: 5px; position: absolute; left: -1000em; top: 0; font-weight: bold}
.skipnav a:visited {color: #fff}
.skipnav a:focus, .skipnav a:active {z-index: 99; top: -3em; left: 0; border: solid #777 2px; color: #fff; background: #333 !important} /*Note IE bug that requires use of :active to mimic effect of :focus*/

.skipnav a:hover {cursor: default}


/*----------------------*/

body {
    color:#000;
    background-color:#fff;
}
input{
    color: black;
}
textarea{
    color: black;
}

#main{
    margin-left: 300px;

}
 h3{
    font-size: 20px;
 }

/*INTERACTIVE MAP*/

.slide {
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
    margin-left: 10px;


}

.slide .slidePanel {
    top: 0;
    width: 250px;
    max-width: 250px;
    height: 526px;
    max-height: 526px;
    padding: 15px;
    background-color: #000;
    /*opacity: 0.7;*/
    background-color: rgba(0,0,0, 0.85);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE*/
    zoom: 1;
    color: #fff;
    font-family: Arial, Verdana, sans-serif;
    overflow-y: auto;
}



.offScreen {
    position: absolute;
    left: -370px;
}



.slide .slidePanel h3 {
    color: #fff;
}

.slidePanel h3 {
    margin-top:20px;
    line-height:1.5em;
}

.slide .slidePanel p, .slide .slidePanel li {
    color: #fff !important;
}

.slide .slidePanel p {
    margin-bottom: 0;
}

.slide .slidePanel ul {
    margin-top: 0;
}

.slide .slidePanel a:link, .slide .slidePanel a:visited {
    text-decoration: none;
    color: #59D6FF !important;
}

.slide .slidePanel a:hover {
    color: #06C !important;
    text-decoration: underline;
}

.slide button {
    margin: .7em 0 0 .7em;
}

.js #slidebottom .slidePanel {
    display: none;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.closeButton {
    display: block;
    float: right;
    position: relative;
    top: -10px;
    right: -10px;
    height: 30px;
}

.file {
    float: left;
    padding: 2%;
}

.file p {
    color: #000;
    font-weight: bold;
}

.file a {
    text-decoration: none;
}

.file img {
    border: 1px solid #ccc;
}

.file:hover {
    background-color: #113850;
}

.file:hover p {
    color: #fff;
    font-weight: bold;
}


.file:hover a {
    text-decoration: none;
}



